.details{
    color: rgb(114, 114, 114);
    font-weight: 300;
    font-size: 14px;
    width: 300px;
}
.lat-lon{
    display: flex;
    width: 90%;

}
.lat-lon p{
    flex: 1;
    margin-bottom: 2px;
}
.time{
    margin-top: 2px;
}